header {
  height: 70px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
}

.header {
  display: flex;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.site-title-container {
  margin: 0;
}

.site-title {
  color: #1e1e1e;
}
