main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject-table {
  width: 600px;
}

.subject-th,
.subject-td {
  padding: 16px 0;
}

.subject-td {
  text-align: center;
}

.post-link {
  margin-top: 8px;
}
